/* Global styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
    display: block; /* Juste faire en sorte que la page se comporte de manière standard */
}

/* Main container */
.container {
    text-align: center;
    padding: 20px 50px;
    border: 10px solid white;
    width: 50%;
    max-width: 1500px;
    margin: 20px auto; /* Centrage horizontal et un peu de marge autour */
}

/* Styling for each version box */
.version-box {
    background-color: #000000;
    border: 7px solid #ffffff;
    margin: 15px auto; /* Centering the box horizontally */
    padding: 15px 25px;
    width: 50%; /* Ensure it takes up half the width of the container */
    max-width: 1200px; /* Prevent it from becoming larger than a certain size */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Optional: Title and headings */
h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Styling for the paragraph */
p {
    font-size: 1rem;
    margin: 10px;
}

/* Styling for the buttons */
.download-btn {
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    border: 5px solid white;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
